#planner{
    height: 100vh;
    width: 100%;

    /* Set a specific height */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    .plannercontainer{
        width: 100%;
        height: 100%;
        backdrop-filter: opacity(.3) blur(7px);
    }
}