@import './navbar';
@import './overlay';
@import './home';


$background: rgb(228, 227, 227);


html *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    
}

body{
    background: rgb(255, 255, 255);

    #root{
        background:rgb(107, 107, 107);
        .app{
            background: white;
            height: 400vh;
        }

    }
    @media (max-width:870px){
        .concepts{
            font-size: 18px;
        }
    }
}

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #929292;
}

html::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(32, 34, 37)),
									   color-stop(0.72, rgb(54, 57, 61)),
									   color-stop(0.86, rgb(36, 39, 49)));
}



